{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Bon de commande {{ object.numero_commande }}</h2>
        </div>
        
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Fournisseur</dt>
                        <dd class="col-sm-8">{{ object.fournisseur }}</dd>
                        
                        <dt class="col-sm-4">Date commande</dt>
                        <dd class="col-sm-8">{{ object.date_commande|date:"d/m/Y" }}</dd>
                    </dl>
                </div>
                
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Statut</dt>
                        <dd class="col-sm-8">
                            <span class="badge bg-{{ object.get_status_badge }}">
                                {{ object.get_statut_display }}
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>

            <h4 class="mt-4">Articles commandés</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in object.lignes.all %}
                    <tr>
                        <td>{{ ligne.produit.nom }}</td>
                        <td>{{ ligne.quantite }}</td>
                        <td>{{ ligne.prix_unitaire }} €</td>
                        <td>{{ ligne.montant }} €</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'pharmacies:commande_list' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Retour
                </a>
                <div class="btn-group">
                    <a href="#" class="btn btn-success">
                        <i class="bi bi-truck"></i> Valider la livraison
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}